body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orenge-title{
    color: orange;
}
.hare-btn{
    text-decoration: none;
    color: white;
    background-image: linear-gradient( red,orange);
    padding: 5px 20px;    
    border-radius: 10px;
}

.flexible-container{
    display: flex;
   justify-content: space-between;
    padding: 20px;
    gap: 30px;
    
}
.top-banner{
background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-banner{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-weith{
    width: 50%;
}
.half-weith img{
    width: 100%;
    
}
.experience-area{
   
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
   
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;

}
#web-development{
    border-left: 5px solid tomato;
}
#baby-web-developer{
    border-left: 5px solid blue;
}
footer p{
    text-align:  center;
}